@font-face {
  font-family: 'ZinDisplay';
  src: url('fonts/subset-ZinDisplay-Demo.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
html, body {
  width: 1024px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'ZinDisplay';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#main,
#main2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1024px;
  overflow: hidden;
  background-color: #e9e9e9;
  border: 1px solid #000;
}
#main {
  height: 115px;
}
#main2 {
  height: 308px;
}

.full-width {
  position: absolute;
  left: 0;
  top: 0;
  width: 1024px;
  height: auto;
}

.bg-small {
  position: absolute;
  width: 1024px;
  will-change: transform;
}
.bg-big {
  position: absolute;
  width: 1024px;
  height: 308px;
  top: 25px;
  left: -56px;
  scale: 1.52;
  will-change: transform;
}

.tag-small {
  position: absolute;
  left: 439px;
  top: 40px;
  width: 207px;
}
.tag-big {
  position: absolute;
  left: 540px;
  top: 127px;
  width: 310px;
}
.logo-small {
  position: absolute;
  left: 116px;
  top: 28px;
  width: 141px;
}
.logo-big {
  position: absolute;
  left: 110px;
  top: 57px;
  width: 140px;
}
.tag-logo,
.tag-logo-big {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1024px;
}

.copy {
  position: absolute;
  left: 249px;
  top: 37px;
  font-size: 38.5px;
  line-height: 31.2px;
  color: #fff;
  text-align: right;
}
.copy-big {
  position: absolute;
  left: 129px;
  top: 139px;
  font-size: 60.7px;
  line-height: 31.2px;
  color: #fff;
  text-align: right;
}

/* Click areas */
#default_exit_small {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 115px;
  z-index: 200;
}
#default_exit_big {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 308px;
  z-index: 200;
}

.btn {
  cursor: pointer;
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
